@use "../abstracts/mixins" as *;

.form {
	@include main-container-width;
	text-align: center;

	> p {
		max-width: 65ch;
		margin: 1rem auto 0;
	}
}

#form {
	margin-top: 1.5rem;

	> #email {
		padding: 0.8rem;
		width: 30rem;
		border-radius: 5px;
		border: solid gray 2px;
	}

	> #submit {
		padding: 0.8rem 2rem;
		background-color: white;
		border: 0;
		margin-left: 0.8rem;
		cursor: pointer;
		margin-top: 1.5rem;
		border-radius: 5px;
	}
}

#submit:hover {
	opacity: 0.8;
	transition: 0.4s;
}
