html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

#nav-bar {
	font-size: 1.8rem;
}

#hero {
	color: white;
}

h1 {
	font-size: 4rem;
}

a:hover {
	color: rgb(212, 212, 212);
	transition: 0.4s;
	border-bottom: solid rgb(212, 212, 212) 1px;
}

#hero-text,
.description {
	> span {
		font-size: 1.6rem;
		font-weight: 500;
	}

	> h1 {
		font-weight: 400;
	}
	> p {
		font-size: 2rem;
		line-height: 1.5;
	}
}

#hero-text {
	> a {
		color: rgb(21, 27, 38);
		font-size: 2rem;

		&:hover {
			opacity: 0.8;
			transition: 0.4s;
		}
	}
}

.description {
	> span {
		color: rgb(132, 143, 153);
	}

	> p {
		color: rgb(132, 143, 153);
	}

	> h2 {
		font-size: 3.4rem;
		font-weight: 400;
	}
}

#stats-container {
	> p {
		font-size: 4rem;
		font-weight: 300;
	}

	.text {
		> p:first-child {
			font-size: 5rem;
			font-weight: 700;
		}

		> p:nth-child(2) {
			font-size: 2rem;
		}
	}
}

.form {
	> p {
		color: white;
		font-size: 2.3rem;
		line-height: 1.5;
		font-weight: 300;
	}
	> h2 {
		color: white;
		font-size: 5rem;
		font-weight: 300;
	}
}

#form {
	color: white;

	> input {
		font-size: 2rem;
	}

	> #submit {
		color: rgb(21, 27, 38);
		font-size: 2rem;
	}
}

footer {
	color: white;
}

#footer-container {
	> p:first-child {
		font-size: 5rem;
		font-weight: 300;
	}

	span {
		font-weight: 700;
	}

	a {
		color: rgb(156, 155, 154);
	}

	.footer-text {
		font-size: 1.6rem;
	}
}
